.aboutCard {
    margin: 15px 20px 15px 10px; /* top, right, bottom, left*/
}
.acWrapper {
    background-color: white;
    border-radius: 3px;
}
.acBanner {
    height: 35px;
    width: 100%;
    background-color: #FF4500; /*Main Red colour of site*/
    border-top-right-radius: 3px;    
    border-top-left-radius: 3px;

    /* banner text styling */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.acBody {
    padding: 15px;
}
.acText {
    font-size: 14px;
    padding: 5px 0px 20px 0px; /* top, right, bottom, left*/
}
.acActionButtons {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.buttonPost {
    background-color: #0079d3; /* a nice blue */
    color: white;
    border-radius: 30px;
    padding: 7px 0px 7px 0px; /* top, right, bottom, left*/
    margin-bottom: 10px;
    cursor: pointer;
}
.buttonPost:hover {
    filter: brightness(110%);
}