.background{
    height: 100%;
    width: 100%;
    background-color: #DAE0E6; /*Grey background of site*/
}

.postPageContainer{
    display: flex;
    margin-left: 17%;
    margin-right: 17%;
}

.discussionContainer {
    flex: 4.5;
}